body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header{
  position: fixed;
  width: 15% !important;
  height: 100vh;
  display: flex !important;
  justify-content: center;
  flex-direction: column !important;
  background-color: rgba(127, 104, 99, 0.8) !important;
}

header a{
  margin: 10px !important;
}






