
.item{
    width: 50%;
    height:auto !important;
    border: 1px solid #000;
}

.item h1{
    color: #333;
}

.item .price{
    width: 100%;
    font-size:20px;
    color: red;
}


.item .btn-group{

}