#arxiv-item{
    background: linear-gradient(189.52deg, #FFB571 -10.41%, #FA7800 106.43%);
    border-radius: 10px;
    width: 191px;
    min-height: 323px;
    margin: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#arxiv-item #img-box{
    width: 72px;
    height: 72px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:white;
}

#arxiv-item #main-text{
    color: white !important;
}

#arxiv-item #main-text h4{
    font-family: 'Mail Sans Roman';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FAF2EE;
}

#arxiv-item #main-text p{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#arxiv-item #btn-box button{
    background: #FAF2EE;
    border-radius: 10px;
    font-family: 'Mail Sans Roman';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.05em;
    color: #23202A;
    width: 159px;
    padding: 10px 0;
    border: none !important;
    margin-top: 12px;
}


