.search-box .search button{
    background-color: #7745E0;
    padding: 9px 30px;
    border-radius: 0px 10px 10px 0px;
    border: none !important;
    position: relative;
    left: -82px;
}

.search-box .search input{
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 12px 16px;
    width:515px;
    margin-top: 0 !important;
}

.search-box .search input:focus{
    outline: none;
}

.search-box{
    width: auto !important;
    padding-right: 50px;
    margin-bottom: 40px;
    float: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.search-box .search{
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.search-box>button{
    position: relative;
    left: -50px;
}
    /*.search{*/
/*    display: inline;*/
/*}*/

.seach{
    position: relative;
}

#qoshish{
    border: none !important;
    padding: 13px 18px;
    background: #7745E0;
    border-radius: 10px;
    font-family: 'Mail Sans Roman';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}
#qoshish img{
    margin: 0 5px;
    width:14px !important;
}
