.main{
    position: absolute;
    left: 15%;
    top: 0;
}

#child_modal #checkbox-group{
    display: flex;
    flex-direction: column;
}

#child_modal #checkbox-group label{
    padding: 0 !important;
    margin: 0 !important;
    font-family: 'Mail Sans Roman';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #23202A;
    margin-top:10px !important;
    display: flex;
    align-items: center;
}

#child_modal #checkbox-group input[type=checkbox]{
    display: inline;
    width: 10px;
    margin-top: 0 !important;
    zoom:1.5;
    margin-right: 10px;
    accent-color: #7745E0 !important;
}
