
.main{
    width: 85%;
    position: absolute;
    left: 15%;
    top: 0;
}

section{
    width: 100%;
    padding-top:50px;
    display: flex !important;
    flex-wrap: wrap !important;
}

#child_modal{
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    /*background-color:red;*/

}

#child_modal h1{
    font-family: 'Mail Sans Roman';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    color: #23202A;
}

#child_modal #img-box{
    width: 160px;
    height: 160px;
    background: linear-gradient(189.52deg, #FFB571 -10.41%, #FA7800 106.43%);
    border: 1px solid #FFFFFF;
    border-radius:50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#child_modal #input-group input{
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    z-index: 2;
}



#child_modal #view{
    z-index: 4;
    position: relative;
    top: -35px;
    left: 90%;
    cursor: pointer;
}

#child_modal #uzs{
    position: relative;
    top: -35px;
    left: 82%;
    z-index: 4;
}


#child_modal form  .toggle {
    position : relative ;
    display : inline-block;
    width : 100%;
    height : 35px;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-content: center;
}

#child_modal form  .toggle:after {
    content: '';
    position: absolute;
    width: 50%;
    height: 35px;
    border-radius: 5px;
    background-color: #FF932F;
    top: 4px;
    left: 4px;
    transition:  all 0.5s;
}

#child_modal form  .checkbox:checked + .toggle::after {
    left : 50%;
}

#child_modal form  .checkbox {
    display : none;
}

#child_modal #check{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

#child_modal #check span{
    font-family: 'Mail Sans Roman';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    color: #23202A !important;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    /*background: red;*/
    width: 100%;
    height: 100%;
    padding-top: 5px;
}

#child_modal #input-group #add{
    background: #7745E0;
    border-radius: 10px;
    font-family: 'Mail Sans Roman';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    padding: 14px 38px;
    border: none;
}

#child_modal #btn-box{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 10px
}

#child_modal #btn-box #clear{
    font-family: 'Mail Sans Roman';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    text-decoration-line: underline;
    color: #FF3131;
    background: white;
    border: none;
    text-underline-style: none;
}


#child_modal #head-box{
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;
   flex-direction: column;
}

#child_modal #id{
    display: none;
}


